<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/index}" th:object="${book}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Number of pages: <input type="text" th:field="*{pages}"/></p>
    <p>Colour: <input type="text" th:field="*{colour}"/></p>
    <p>Author: <input type="text" th:field="*{author}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>